*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
@font-face {
font-family: 'FuturaBookC';
src: url("assets/fonts/Futurabookc.otf") format("opentype");
}
body {
    font-family: 'FuturaBookC';
}
body {
	font-size: 14px;
	line-height: 1;
	color: #373737;
	background: #f7f7f7;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow:  hidden;
} 
.top__menu {
	height: auto;
	width: auto;
	background-color: #000;
	padding: 20px;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
.a__logo {
	color: #E3B873;
}
.menu__ul {
	color: #fff;
	display: flex;
}
.menu__item {
	display: inline-block;
	padding: 0 24px;
}
.menu__item a {
	color: #fff;
}
.menu__item_tel {
	text-decoration-line: underline;
	color: #E3B873;
}
.menu__item:hover {
	cursor: pointer;
	color: #E3B873;
}
.top__menu_btn {
	text-transform: uppercase;
	background-color: #E3B873;
	color: #fff;
	padding: 13px 33px;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
}
/*header styles*/
.top_section {
	background-color: black;
	height: 707px;
	border: 3px solid purple;
}
.top__image {
	height: auto;
    width: 93.75%;
/*    background: url("assets/images/top_image.png");
*/    background-size: cover;
    margin-left: 6.25%;
}
.top_sidebar {
	width: 6.25%;
    position: fixed;
    top: 0;
    left: 0;
}
.aside__a {
	display: block;
	transform: rotate(-90deg);
    width: 500px;
    margin-left: -200px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
	color: #E3B873;
	border-left: 1.5px solid #E3B873;
}
.top__image {
	position: relative;
	width: 100%;
}
.wrap_text {
	position: absolute;
	margin: 40px;
	padding: 20px;
	background-color: pink;
	width: 676px;
}
.top_header {
	top: 200px;
	left:0;
	width: 100%;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.yellow {
	color: #E3B873;
}
.top_subtitle {
	font-family: "FuturaBookC";
	font-size: 22px;
	line-height: 30px;
	color: blue;
	color: #fff;
}
.btn_cost {
	display: inline-block;
	text-transform: uppercase;
	background-color: #E3B873;
	color: #fff;
	padding: 13px 33px;
	margin: 10px;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
}
.btn_submit {
	display: inline-block;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	padding: 13px 33px;
	margin: 10px;
	border-radius: 2px;
}


.our_projects {
	border: 3px solid green;
}
.online_control {
/*	display: flex;
	justify-content: center;*/
	margin-top: 300px;
	text-align: center;
	border: 3px solid blue;
}
video {
	height: 434px;
	width: 817px;
	margin: 60px;
	border-bottom: 2px solid #E3B873; 
}
.video_under {
	margin: 0 25%;
	width: 50%;
	font-family: 'FuturaBookC';
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #363636;
}
.video_under:before {
	border: 2px solid #E3B873; 
}

.section_title {
	font-family: 'Yeseva One';
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	margin: 40px;
}
.section_title:after {
	position: absolute;
    content: ""; 
    height: 40px;
    width: 170px;
    background: url('assets/images/team.svg') no-repeat right center;
}

.form-wrap {
	width: 60%;
	margin: 30px  20% ;
}
.input-wrap {
	position: relative;
	padding: 0 25px;
}
.input-wrap label {
	font-size:16px;
	color: rgba(54, 54, 54, 0.5);	
}
.name,
.phone,
.email {
    font-size: 18px;
    display: block;
	line-height: 24px;
	background: transparent;
	color: #363636;
	box-sizing: border-box;
	border:0;
	border-bottom: 3px solid rgba(54, 54, 54, 0.3);
}
.name:focus,
.phone:focus,
.email:focus {
	outline: none;
}
.contact_form {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	border: 3px solid #8C1488;
	width: 100%;
}
.submit-btn {
	background: #E3B873;
	box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	padding: 0 25px;
	color: #FFFFFF;
}
.form_checkbox {
	font-family: 'FuturaBookC';
	font-size: 16px;
	line-height: 22px;
	color: #181818;
	border-radius: 1px;
	text-align: center;
	margin: 25px;
	border: 2px solid #8C1488;
}
/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}
/* стили для метки */
.politics {
  color: #000;
  cursor: pointer;
  font-weight: normal;
  line-height: 20px;
  padding: 10px 0;
  vertical-align: middle;
  margin-right: 10px;
}
.politics:before {
  content: " ";
  color: #E3B873;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 18px;
  height: 18px;
  background: #E3B873;
}
input:checked + .politics:before {
  content: "\2713\0020";
}
input:disabled + .politics:before {
  background: #eee;
  color: #aaa;
}

/*types of repair styles*/
.repair-types {
	border: 5px solid yellowgreen;
}
.repair-options {
	border: 3px solid orange;
	margin: 70px 100px;
	display: flex;
	align-items: center;
}
/*.repair_header {
	font-family: Yeseva One;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #181818;
	text-align: center;
}*/
.repair-list-h {
	font-family: 'Yeseva One';
	font-size: 18px;
	line-height: 25px;
	color: #363636;
}
.repair-type {
	border: black 2px dotted;
	margin: 15px;
}
.repair-img {
	height: auto;
}
.repair-list {
	border: 2px solid red;
	list-style-type: square;
	text-align: left;
	padding: 10px 25px;
	width: 70%;
	margin: 0 15%;
}
.repair-item {
	font-family: 'FuturaBookC';
	font-size: 15px;
	line-height: 25px;
	color: #959595;
}
.repair-price {
	display: inline-block;
	text-transform: uppercase;
	background-color: #E3B873;
	color: #fff;
	padding: 13px 33px;
	margin: 0 15%;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
}

.measurements {
	margin: 0 100px;
}
.measurements-wrap {
	border: 5px solid orangered;
	display: flex;
	justify-content: space-between;
/*	height: 645px;*/
}
.measurements-img {
	width: 50%;
}
.measurements-form-wrap {
	border: 5px solid yellowgreen;
	background-color: #fff;
	width: 40%;
	margin-top: 60px;
}
.measurements-form {
	font-family: 'FuturaBookC';
/*	border: 5px solid tomato;
*//*	height: 80%;
	margin: 10%;
	padding: 25px 45px;	*/
	background-color: black;
	padding: 25px 0;
}
.measurements-p {
	font-family: 'FuturaBookC';
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #FFF;
	padding: 0 100px;
}
.form_checkbox_measurements {
	padding: 5px 0;
}
.measurements-input-wrap,
.form_checkbox_measurements {
	position: relative;
	padding: 10px 45px;
	color: #fff;
}
.measurements-name label,
.measurements-phone label,
.measurements-email label {
	font-family: 'FuturaBookC';
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.5);
}
.measurements-name,
.measurements-phone,
.measurements-email {
    font-size: 18px;
    display: block;
	line-height: 24px;
	background: transparent;
	color: #fff;
	box-sizing: border-box;
	border:0;
	border-bottom: 3px solid rgba(54, 54, 54, 0.3);
}
.measurements-name:focus,
.measurements-phone:focus,
.measurements-email:focus {
	outline: none;
}
.contact_form {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	border: 3px solid #8C1488;
	width: 100%;
}
.measurements-btn {
	background: #E3B873;
    margin-left: 180px;
	box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	font-size: 15px;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	color: #FFFFFF;
}
.save-money {
	display: flex;
	justify-content: space-between;
	margin: 20px 140px 20px 20px;
}
.save-money-img {
	height: 72px;
	width: 72px;
}
.save-money-text {
	font-family: 'FuturaBookC';
	font-size: 20px;
	line-height: 25px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}


.styles-wrap {
	border: 3px solid dodgerblue;
	height: 864px;
	background: url("assets/images/style-background.png");
	color: #fff;
	padding: 100px;
	display: flex;
    justify-content: space-between;
    margin: 240px 0;
}
.styles-header {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
}
.styles-list {
	font-size: 20px;
	line-height: 34px;
	color: #FFFFFF;
	padding-top: 47px;
}
.styles-list-wrap {
	width: 35%;
}
.styles-img {
	padding: 10px;
}

/*design projects*/
.section-subtitle {
	font-family: 'FuturaBookC';
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #363636;
	padding: 20px 20%;
}
.design-project {
	margin-bottom: 150px;
}
.design-types {
	border: 5px solid yellowgreen;
}
.design-options {
	border: 3px solid orange;
	margin: 35px 100px;
	display: flex;
}
.design-list-h {
	font-family: 'Yeseva One';
	font-size: 18px;
	line-height: 25px;
	color: #363636;
}
.design-type {
	border: black 2px dotted;
	margin: 15px;
}
.design-img-wrap {
	position: absolute;
	z-index: 1;
}
.design-list-wrap {
	position: relative;
	z-index: 2;
	top: 290px;
	left: 30px;
	background-color: #fff;
}
.design-img {
	height: auto;
}
.design-list {
/*	border: 2px solid red;*/
	list-style-type: square;
	text-align: left;
	padding: 10px 25px;
	width: 70%;
	margin: 0 15%;
}
.design-item {
	font-family: 'FuturaBookC';
	font-size: 15px;
	line-height: 25px;
	color: #959595;
}
.design-price {
	display: inline-block;
	text-transform: uppercase;
	background-color: #E3B873;
	color: #fff;
	padding: 13px 33px;
/*	margin: 0 15%;*/
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
}

.team-wrap {
	margin: 100px;
	border: 3px solid violet;
}
.team-member-wrap {
	border: 2px solid deeppink;
}
.team-member {
	border: 3px solid red;
	margin: 40px;
}
.team-img-wrap {
	position: absolute;
	z-index: 1;
}
.team-name-wrap {
	background: #fff;
	position: relative;
	z-index: 3;
	top: 277px;
	left: 30px;
	border: 3px solid limegreen;
}
.team {
	display: flex;
	justify-content:space-around;
	margin-bottom: 40px;
	border: 3px solid blue;
}
.team-name-wrap {
/*	padding: 10px;
*/}
.team-name {
	font-family: 'Yeseva One';
	padding-top: 22px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #181818;
}
.team-job {
	font-family: 'FuturaBookC';
	padding-bottom: 22px;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #959595;
}
.work-experience {/*
	margin: 10px;
*/	padding: 13px;
	background: #E3B873;
	font-family: 'Yeseva One';
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.team-description {
	margin: 18px 30%;
}
.team-text {
	font-family: 'FuturaBookC';
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #363636;
}



@media screen and (max-width: 600px) {
	.menu__item {
		display: none;
	}
	.top__menu_btn {
		display: none;
	}
	aside {
		 display: none;
	}
	.measurements {
		display: none;
	}
	.styles-list {
		display: none;
	}
	.styles-header {
		font-style: 22px;
	}
}



.wrap {
  border: 3px solid orange;
    margin: 35px 100px;
    display: flex;
    position: relative;
    height: 200px;
    width: 650px;
}

.div1 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 500px;
    height: 100px;
    border: 5px solid #f00;
    z-index: 2;
}
.div2 {
    position: absolute;
    top: 100px; left: 0;
    width: 300px; height: 200px;
    background: #000;
    z-index: 1;
}